html{
  scroll-behavior: smooth;
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
/*Entete du site*/
header{
  background: url(background6.jpg);
  color: #fff;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0rem;
}
.logo{
  font-size: 1.2em;
  color: #C3A77B;
}
/*Flou pour le background*/
header::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(15px); /* flou */
  background-color: rgba(0, 0, 0, 0.3); /* assombrit légèrement */
  z-index: 0;
}

header > * {
  position: relative;
  z-index: 1;
}
header h1{
  font-size: 3em;
}
header p{
  font-size: 1em;
  font-weight: 900;
}
.typewriter {
  display: inline-block;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.7s infinite;
  height: 1.5em;    /* <-- hauteur fixe pour éviter le "saut" vertical */
  font-size: 2em;
}

@keyframes blink-caret {
  0%, 100% { border-color: #fff; }
  50% { border-color: transparent; }
}
.social-icons {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.icon{
  transition: transform 0.3s ease, color o.3s, box-shadow 0.3 ease;
}
.social-icons a {
  color: #C3A77B;
  font-size: 3rem;
  transition: transform 0.2s, color 0.2s;
  margin-top: 20px;
}

.social-icons a:hover {
  color: #fff; /* couleur personnalisée */
  transform: scale(1.7);
}

/* Gmail */
.fa-envelope:hover {
  color: #d93025;
}

/* GitHub */
.fa-github:hover {
  color: #115;
}

/* LinkedIn */
.fa-linkedin:hover {
  color: #0a66c2;
}
.boutonCV{
  color: #000;
  background-color: #C3A77E;
  margin-top: 30px;
  font-size: 1.7em;
  height: 2.3em;
  width: 10.5em;
  border-radius: 0.5em;
  transition: transform 0.3s ease;
}
.boutonCV:hover{
  color:blue;
  transform: translex(5px);
}

nav {
      position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #333 ;
      padding: 10px 20px;
      color: white;
      z-index:1000;
      top: 0;
      right:0;
      justify-content: space-between;
      width: 100%;
    }

    nav h1{
    
    }
    .nav-links {
      display: flex;
      gap: 20px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      font-size: 3em;
    }

    .nav-links a:hover {
      color: #ffcc00;
    }

    .burger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .burger div {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 4px;
      transition: all 0.3s;
    }

    /* Responsive */
    @media (max-width: 768px) {
     header h1{
       font-size: 3em;
     }
     .typewriter{
       font-size: 1.5em;
     }
         .nav-links a{
           font-size: 1em;
           display: flex;
         }
     .social-icons a{
       font-size: 2em;
     }
     .boutonCV{
       font-size: 1.1em;
     }
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
      }

      .nav-links.active {
        display: flex;
      }

      .burger {
        display: flex;
      }
      .about{
        display: column;
        flex-direction: column;
      }
      .right-panel{
        padding: 0px;
      }
      .right-panel p {
  margin-bottom: 0px;
      }
    }
    
    
    .about{
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 15px 10px rgba(135, 206, 235, 1);
      max-width: 700px;
      margin: 30px auto;
      border: 1px solid #ddd;
      display: flex;
    }
    
    .left-panel {
  width: 35%;
  padding: 30px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  background: #fff;
}
.right-panel {
  width: 65%;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
}
.icon {
  
  background: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
  box-shadow: 0 0px 30px rgba(0,0,0,0.5);
}
.info p {
  margin: 10px 0;
}
.skills h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.bar {
  background: #e0e0e0;
  border-radius: 3px;
  height: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}
.progres {
  height: 100%;
}
.html {
  width: 90%;
  background: green;
}
.css{
  width: 60%;
  background: yellow;
}
.java{
  width: 2%;
  background: #f4a261;
}
.right-panel h2 {
  margin-bottom: 10px;
}
.right-panel hr {
  width: 40px;
  border: 2px solid #2196f3;
  margin-bottom: 20px;
}
.right-panel p {
  margin-bottom: 16px;
  line-height: 1.6;
}
.mail a{
  text-decoration: none;
  color: black;
}
.competences h2{
  position: center;
  color:red;
}